*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #1a1a1a;
  --color-white: #f9f6f1;
  --color-grey: #616161;
  --color-orange: #f2a83b;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "IBM Plex Mono", monospace;
}
